.gif1 {
  left: 50px;
  top: 40px;
  position: relative;
}
.gif3 {
  left: 980px;
  top: 120px;
  position: absolute;
}
.gif2 {
  left:330px;
  top: 117px;
  position: absolute;
}
.gif4 {
  left: 60px;
  top: 80px;
  position: relative;
}
.gif5 {
  left: 80px;
  top: 120px;
  position: absolute;
}
.gif6 {
  left: 330px;
  top: 400px;
  position: absolute;
}
.gif7 {
  left: 1200px;
  top: 350px;
  position: absolute;
}
.gif8 {
  left: 800px;
  top: 500px;
  position: absolute;
}
.gif9 {
  left: 680px;
  top: 100px;
  position: absolute;
}
.gif10 {
  left: 380px;
  top: 620px;
  position: absolute;
}
.gif11 {
  left: 1070px;
  top: 790px;
  position: absolute;
}
.gif12 {
  left: 100px;
  top: 600px;
  position: absolute;
}
.gif13 {
  left: 340px;
  top: 970px;
  position: absolute;
}
.gif14 {
  left: 570px;
  top: 1000px;
  position: absolute;
}
.gif15 {
  left: 940px;
  top: 1100px;
  position: absolute;
}
.gif16 {
  left: 330px;
  top: 1280px;
  position: absolute;
}
.gif17 {
  left: 800px;
  top: 880px;
  position: absolute;
}
.gif18 {
  left: 490px;
  top: 1420px;
  position: absolute;
}
.gif19 {
  left: 170px;
  top: 1450px;
  position: absolute;
}
.box {
  top: 1720px;
  position: absolute;
}